@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
$background-color: #154ad0;
$custom-color: #ffce2f;

body {
  font-family: 'Bree Serif', serif;
  margin: 0px;
  font-size: 20px;
  width: 100%;
  background-color: $background-color;
  
}
.container {
  display: flex;
  flex-direction: column;
}
  .nav-bar-wrapper {
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: $background-color;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.5); 
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.5);
}




  .nav-bar-wrapper ul img {
  width: 10%;
}

   .nav-bar-wrapper  ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
  
}

           .nav-links .word-wrap {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, darkblue 5%, $custom-color 100%);
  background-color: $custom-color;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  list-style-type: none;
  text-shadow: 0px 1px 0px #3d768a;
}
           .nav-links .word-wrap:hover {
  background: linear-gradient(
    to bottom,
    $custom-color 5%,
    $background-color 100%
  );
  color: $custom-color;
  transition: 0.5s;
  box-shadow: inset 0 0 100px 100px rgba(248, 244, 244, 0.5);
           }
  

          .nav-links .word-wrap:active {
  position: relative;
  top: 1px;
}
.heros-section {
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 20%;
  padding-right: 20%;
  color: white;
  font-size: 1.5em;
  font-weight: 900;
}
   .middle-section {
  display: block;
}
     .left-side {
  display: grid;
  grid-template-columns: 1fr;
  order: 1;
}

       img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
     .right-side {
  display: grid;
  grid-template-columns: 1fr;
  order: 2;
}
        img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


.footer-links {
  width: 100%;
  background-color: #154ad0;
  color: white;
  font-size: 1.5rem;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
}
//    .links-wrapper {
//   width: 100%;
// }
        ul {
    width: 100%;
  display: flex;
  justify-content: space-around;
  
}
          .foot-links {
  list-style-type: none;
  justify-content: space-around;
  color: white;
}
     
          .foot-links a {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, darkblue 5%, $custom-color 100%);
  background-color: $custom-color;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  list-style-type: none;
  text-shadow: 0px 1px 0px #3d768a;
}

           .foot-links a:hover {
  background: linear-gradient(
    to bottom,
    $custom-color 5%,
    $background-color 100%
  );
  color: $custom-color;
  transition: 0.5s;
  box-shadow: inset 0 0 100px 100px rgba(248, 244, 244, 0.5);
}
           .foot-links a:active {
  position: relative;
  top: 1px;
}
   .links-wrapper p {
    display: flex;
    justify-content: center;
    align-self: center;
}
           