@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
body {
  font-family: 'Bree Serif', serif;
  margin: 0px;
  font-size: 20px;
  width: 100%;
  background-color: #154ad0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-bar-wrapper {
  margin: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #154ad0;
  border-bottom: solid 10px black;
}

.nav-bar-wrapper .nav-bar-left img {
  width: 50%;
  margin-bottom: -4px;
  border-top: 10px solid black;
  border-left: 10px solid black;
  border-right: 10px solid black;
}

.nav-bar-wrapper .nav-bar-right {
  width: 100%;
  font-size: 1.2em;
}

.nav-bar-wrapper .nav-bar-right ul {
  list-style-type: none;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.nav-bar-wrapper .nav-bar-right ul .nav-links .word-wrap {
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
          box-shadow: 0px 10px 14px -7px #276873;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, darkblue), to(#ffce2f));
  background: linear-gradient(to bottom, darkblue 5%, #ffce2f 100%);
  background-color: #ffce2f;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  list-style-type: none;
  text-shadow: 0px 1px 0px #3d768a;
}

.nav-bar-wrapper .nav-bar-right ul .nav-links .word-wrap:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffce2f), to(#154ad0));
  background: linear-gradient(to bottom, #ffce2f 5%, #154ad0 100%);
  color: #ffce2f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: inset 0 0 100px 100px rgba(248, 244, 244, 0.5);
          box-shadow: inset 0 0 100px 100px rgba(248, 244, 244, 0.5);
}

.nav-bar-right ul .nav-links .word-wrap:active {
  position: relative;
  top: 1px;
}

.heros-section {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-left: 20%;
  padding-right: 20%;
  color: white;
  font-size: 1.5em;
  font-weight: 900;
}

.heros-section > .middle-section {
  display: block;
}

.heros-section > .middle-section .left-side {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.heros-section .middle-section .left-side img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.heros-section .right-side img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.heros-section .middle-section .right-side {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.container .footer-links {
  width: 100%;
  background-color: #154ad0;
  color: white;
  font-size: 1.5rem;
  border: 10px solid black;
}

.footer-links .links-wrapper {
  width: 100%;
}

.footer-links ul {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-links .links-wrapper ul .foot-links {
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}

.footer-links .links-wrapper ul .foot-links a {
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
          box-shadow: 0px 10px 14px -7px #276873;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, darkblue), to(#ffce2f));
  background: linear-gradient(to bottom, darkblue 5%, #ffce2f 100%);
  background-color: #ffce2f;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  list-style-type: none;
  text-shadow: 0px 1px 0px #3d768a;
}

.footer-links .links-wrapper ul .foot-links a:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffce2f), to(#154ad0));
  background: linear-gradient(to bottom, #ffce2f 5%, #154ad0 100%);
  color: #ffce2f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: inset 0 0 100px 100px rgba(248, 244, 244, 0.5);
          box-shadow: inset 0 0 100px 100px rgba(248, 244, 244, 0.5);
}

.footer-links .links-wrapper ul .foot-links a:active {
  position: relative;
  top: 1px;
}

.footer-links .links-wrapper p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}
/*# sourceMappingURL=main.css.map */